#{$all-buttons},
.back {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

.new {
  position: absolute;
  right: 10%;
  top: $base-spacing * 3;
  display: inline-block;
  background-color: $new-btn-color;
  padding: $small-spacing $base-spacing;
  border-radius: $border-radius;
  color: white;
  font-weight: $font-weight;
  &:hover {
    background-color: $new-btn-hover-color;
    color: white;
  }
}

.normal-btn {
  color: white;
  background-color: $light-gray;
  padding: $small-spacing/2 $base-spacing/2;
  border-radius: $border-radius;
  &:hover {
    color: white;
    background-color: $medium-gray;
  }
}
