table,
.photo-index {
  border-collapse: collapse;
  margin: $base-spacing 0;
  table-layout: fixed;
  width: 90%;
  margin-top: $base-spacing * 4;
}

th {
  border-bottom: 1px solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: center;
  width: 100%;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}

table.family-member-detail {
  width: 50%;
  margin: 0 auto;
  tr:nth-child(even) {background: $even-row-color}
  tr:nth-child(odd) {background: $odd-row-color}
  tr.title {
    background-color: $medium-gray;
    color: white;
    font-weight: $font-weight;
  }
  td.label {
    font-weight: $font-weight;
  }
}
