img.profile {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

img.detailed-profile {
  border-radius: 100%;
  height: 20%;
  width: 20%;
}

.index-photos img {
  border-radius: 5px;
  width: 200px;
  height: 150px;
}

img.detailed-photo {
  height: 50%;
  width: 50%
}
