nav {
  margin-top: $small-spacing;
  background-color: #bae2c0;
  padding: $small-spacing;
  a {
    padding: $small-spacing $base-spacing;
    font-weight: $font-weight;
    color: white;
  }
  a:hover {
    color: white;
    background-color: #5ebd6e;
    border-radius: $border-radius;
  }
}
